:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-basic);
    margin: 0;
    padding: 0;
    background-color: var(--color-header);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.text-center {
    text-align: center;
    color: var(--color-text);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Enlaces */
a {
    text-decoration: none;
    color: inherit;
}