:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-basic);
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: var(--font-scale-base);
    scroll-behavior: smooth;
}

.text-center {
    text-align: center;
    color: var(--color-text);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Enlaces */
a {
    text-decoration: none;
    color: inherit;
}

h1 { 
    font-size: 2.5rem; color: var(--color-title); 
}

h2 { 
    font-size: 2rem; color: var(--color-title); 
}

h3 { 
    font-size: 1.5rem; color: var(--color-accent); 
}

p { 
    font-size: 1rem; color: var(--color-text); 
}

span, button { 
    font-size: 1rem; 
}