#root {
  text-align: center;
  min-height: 100vh;
}
.fa-eye,
.fa-slash-eye {
  font-size: 25px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.fa-eye,
.fa-eye-slash {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  z-index: 5;
}
.contenedorContra {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.contrasena {
  width: 100% !important;
  position: relative !important;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
